gSOAP_test/webservice_test/Demo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="demo"
 targetNamespace="http://localhost:12345/demo.wsdl"
 xmlns:tns="http://localhost:12345/demo.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:demo="urn:demo"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:demo"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:demo="urn:demo"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <!-- operation request element -->
  <element name="AddA">
   <complexType>
    <sequence>
     <element name="a" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- demo__AddA::a -->
     <element name="b" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- demo__AddA::b -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="AddAResponse">
   <complexType>
    <sequence>
     <element name="res" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- demo__AddA::res -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="AddB">
   <complexType>
    <sequence>
     <element name="a" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- demo__AddB::a -->
     <element name="b" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- demo__AddB::b -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="AddBResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="AddC">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Result">
   <complexType>
    <sequence>
     <element name="a" type="xsd:float" minOccurs="1" maxOccurs="1"/><!-- demo__Result::a -->
     <element name="b" type="xsd:float" minOccurs="1" maxOccurs="1"/><!-- demo__Result::b -->
     <element name="res" type="xsd:float" minOccurs="1" maxOccurs="1"/><!-- demo__Result::res -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="AddARequest">
 <part name="Body" element="demo:AddA"/><!-- demo__AddA::demo__AddA -->
</message>

<message name="AddAResponse">
 <part name="Body" element="demo:AddAResponse"/>
</message>

<message name="AddB">
 <part name="Body" element="demo:AddB"/><!-- demo__AddB::demo__AddB -->
</message>

<message name="AddBResponse">
 <part name="Body" element="demo:AddBResponse"/><!-- demo__AddB::out -->
</message>

<message name="AddC">
 <part name="Body" element="demo:AddC"/><!-- demo__AddC::demo__AddC -->
</message>

<message name="Result">
 <part name="Body" element="demo:Result"/><!-- demo__AddC::res -->
</message>

<portType name="demoPortType">
 <operation name="AddA">
  <documentation>Service definition of function demo__AddA</documentation>
  <input message="tns:AddARequest"/>
  <output message="tns:AddAResponse"/>
 </operation>
 <operation name="AddB">
  <documentation>Service definition of function demo__AddB</documentation>
  <input message="tns:AddB"/>
  <output message="tns:AddBResponse"/>
 </operation>
 <operation name="AddC">
  <documentation>Service definition of function demo__AddC</documentation>
  <input message="tns:AddC"/>
  <output message="tns:Result"/>
 </operation>
</portType>

<binding name="demo" type="tns:demoPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="AddA">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="AddB">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="AddC">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
</binding>

<service name="demo">
 <documentation>gSOAP 2.8.22 generated service definition</documentation>
 <port name="demo" binding="tns:demo">
  <SOAP:address location="http://localhost:12345/demo.cgi"/>
 </port> <port name="demo" binding="tns:demo">
  <SOAP:address location="http://localhost:12345"/>
 </port>
</service>

</definitions>
